@layer theme {
	:root {
		--container-max-width: 100%;
		--container-padding: 10px;
		@media (--md) {
			--container-max-width: 800px;
			--container-padding: 12px;
		}
		@media (--lg) {
			--container-max-width: 940px;
			--container-padding: 24px;
		}
		@media (--xl) {
			--container-max-width: 1200px;
			--container-padding: 40px;
		}
	}
}

@layer atoms {
	.container {
		max-width: var(--container-max-width);
		margin-inline: auto;
		padding-inline: var(--container-padding);
	}
}
