@layer atoms {
	:root {
		--container-max-width: 1400px;
		--container-padding: var(--spacing-4);

		@media (--md) {
			--container-padding: var(--spacing-5);
		}

		@media (--lg) {
			--container-padding: var(--spacing-8);
		}
	}

	.container {
		--container-gap: clamp(var(--spacing-4), 6vw, var(--spacing-8));
		--container-max-width: minmax(var(--container-gap), 1fr);
		--content-max-width: min(140ch, 100% - var(--container-gap) * 2);
		--breakout: minmax(0, var(--spacing-9));

		display: grid;
		grid-template-columns:
			[full-start] var(--container-max-width)
			[breakout-start] var(--breakout)
			[content-start] var(--content-max-width) [content-end]
			var(--breakout) [breakout-end]
			var(--container-max-width) [full-end];

		& > * {
			grid-column: content;
		}

		& > .full {
			grid-column: full;
		}

		& > .breakout {
			grid-column: breakout;
		}
	}
}
