@layer theme {
	:root {
		--icon-size-sm: 0.75rem;
		--icon-size-md: 1.5rem;
		--icon-size-lg: 2.25rem;
		--icon-size-xl: 3rem;
	}
}

@layer atoms.icon {
	.icon {
		--_size: var(--icon-size, var(--icon-size-md));

		display: inline-block;
		aspect-ratio: 1;
		width: var(--_size);
		min-width: var(--_size);
		color: var(--icon-color, inherit);
	}

	.icon-sm {
		--icon-size: var(--icon-size-sm);
	}

	.icon-lg {
		--icon-size: var(--icon-size-lg);
	}

	.icon-xl {
		--icon-size: var(--icon-size-xl);
	}
}
