/*
Primitive tokens are theme specific variables that are used to define the theme specific values for the design system. 
These should never be used directly in the components. These should only be used to map to the semantic tokens.
*/

@layer theme {
    :root {
        --t-default-gutter: 16px;
        --t-default-margin: 16px;

        /* Typography */
        --t-default-header-h1-size: 1.5rem;
        --t-default-header-h2-size: 1.375rem;
        --t-default-header-h3-size: 1.375rem;
        --t-default-header-h4-size: 1.25rem;
        --t-default-header-h5-size: 1.125rem;
        --t-default-header-h6-size: 1rem;

        /* Colors */

        /* Colors -> Primary */
        --t-default-color-primary-300: #F4194C;
        --t-default-color-primary-500: #E00034;
        --t-default-color-primary-700: #B4002A;

        /* Colors -> Accent */
        --t-default-color-accent-300: #F1BBA4;
        --t-default-color-accent-500: #E77466;
        --t-default-color-accent-700: #70092F;

        /* Colors -> Neutral */
        --t-default-color-neutral-000: #FFFFFF;
        --t-default-color-neutral-100: #F7F7F7;
        --t-default-color-neutral-200: #F7F7F7;
        --t-default-color-neutral-300: #B4B5B7;
        --t-default-color-neutral-400: #787A7D;
        --t-default-color-neutral-500: #6E6E6E;
        --t-default-color-neutral-600: #3C3C3B;
        --t-default-color-neutral-700: #3C3C3B;
        --t-default-color-neutral-800: #3C3C3B;
        --t-default-color-neutral-900: #3E3E3A;
        --t-default-color-neutral-1000: #000000;
    }
}

