.sb-show-main.sb-main-padded {
	padding: var(--spacing-5) 0;
}

.spacing {
	height: 16px;
	background-color: var(--color-neutral-200);
}

.spacing--0 {
	width: var(--spacing-0);
}

.spacing--1 {
	width: var(--spacing-1);
}

.spacing--2 {
	width: var(--spacing-2);
}

.spacing--3 {
	width: var(--spacing-3);
}

.spacing--4 {
	width: var(--spacing-4);
}

.spacing--5 {
	width: var(--spacing-5);
}

.spacing--6 {
	width: var(--spacing-6);
}

.spacing--7 {
	width: var(--spacing-7);
}

.spacing--8 {
	width: var(--spacing-8);
}

.spacing--9 {
	width: var(--spacing-9);
}

.spacing--10 {
	width: var(--spacing-10);
}

.spacing--11 {
	width: var(--spacing-11);
}

.spacing--12 {
	width: var(--spacing-12);
}
