@layer theme {
	:root {
		--color-primary: darkcyan;
		--color-primary-light: mediumaquamarine;
		--color-secondary: deeppink;
		--color-secondary-light: purple;
		--color-darkest: rgb(10, 10, 10);

		--color-neutral-000: #fff;
		--color-neutral-100: #f2f2f2;
		--color-neutral-200: #d2d2d2;
		--color-neutral-300: #b4b4b4;
		--color-neutral-400: #969696;
		--color-neutral-500: #787878;
		--color-neutral-600: #5a5a5a;
		--color-neutral-700: #3c3c3c;
		--color-neutral-800: #1e1e1e;
		--color-neutral-900: #000;

		/* Status colors */
		--color-success-foreground: #155724;
		--color-success-background: #d4edda;

		--color-warning-foreground: #856404;
		--color-warning-background: #fff3cd;
		
		--color-error-foreground: #721c24;
		--color-error-background: #f8d7da;

		--color-info-foreground: #0c5460;
		--color-info-background: #bee5eb;

		/* Theme colors used */
		--accent-color: var(--color-primary);
		--color-background: var(--color-neutral-000);
		--color-text: var(--color-neutral-700);
	}
}
