/* Grid is combined with exposed container classes, create your own at https://layout-breakouts-builder.vercel.app/ */

@layer templates {
	/** BASE SETUP **/
	.page-layout > *,
	.full-width > * {
		grid-column: content;
	}
	.page-layout,
	.full-width {
		--minimum-content-padding: var(--container-padding);

		/** TRACK WIDTHS **/
		--grid-full-max-width: 1fr;
		--grid-popout-max-width: 1400px;
		--grid-content-max-width: var(--container-max-width);

		/** TRACK SIZES **/
		--grid-full: minmax(var(--minimum-content-padding), 1fr);
		--grid-popout: minmax(
			0,
			calc(
				(var(--grid-popout-max-width) - var(--grid-content-max-width)) *
					0.5
			)
		);
		--grid-content: min(
			var(--grid-content-max-width),
			100% - var(--minimum-content-padding) * 2
		);

		display: grid;
		grid-template-columns:
			[grid-full-start]
			var(--grid-full)
			[grid-popout-start]
			var(--grid-popout)
			[grid-content-start]
			var(--grid-content)
			[grid-content-end]
			var(--grid-popout)
			[grid-popout-end]
			var(--grid-full)
			[grid-full-end];
	}

	/** CLASSES **/
	.grid-full {
		grid-column: grid-full;
	}
	.grid-full-start {
		grid-column-start: grid-full-start;
	}
	.grid-full-end {
		grid-column-end: grid-full-end;
	}

	.grid-popout {
		grid-column: grid-popout;
	}
	.grid-popout-start {
		grid-column-start: grid-popout-start;
	}
	.grid-popout-end {
		grid-column-end: grid-popout-end;
	}

	.grid-content {
		grid-column: grid-content;
	}
	.grid-content-start {
		grid-column-start: grid-content-start;
	}
	.grid-content-end {
		grid-column-end: grid-content-end;
	}

	.full-width {
		grid-column: full;
	}
	.full-content,
	.full-content-nopad {
		grid-column: full;
	}
	.full-content {
		padding-inline: var(--minimum-content-padding);
	}
}
