@layer organisms {
	.card {
		--card-background: var(--color-neutral-100);
		--card-padding: var(--spacing-5);
		--card-border: transparent;
		--card-gap: var(--spacing-3);

		display: grid;
		position: relative;
		margin: 0;
		padding: var(--card-padding);
		gap: var(--card-gap);
		border: 1px solid var(--card-border);
		background-color: var(--card-background);
	}

	.card__title {
	}

	.card__description {
	}

	.card__action {
		position: static;

		&::after {
			z-index: 10;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
		}
	}

	/* Variants */
	.card--outline {
		--card-background: transparent;
		--card-border: var(--color-neutral-200);
	}

	.card--highlight {
		--card-background: var(--color-neutral-200);
	}
}
