@layer organisms.card {
	.card {
		--card-background: var(--color-neutral-100);
		--card-padding: var(--spacing-5);
		--card-border: transparent;
		--card-gap: var(--spacing-3);

		display: grid;
		position: relative;
		margin: 0;
		padding: var(--card-padding);
		gap: var(--card-gap);
		border: 1px solid var(--card-border);
		background-color: var(--card-background);
	}

	.card__title {
	}

	.card__description {
	}

	.card__action {
		position: static;

		&::after {
			z-index: 10;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
		}
	}

	/* Variants */
	.card--outline {
		--card-background: transparent;
		--card-border: var(--color-neutral-200);
	}

	.card--highlight {
		--card-background: var(--color-neutral-200);
	}

	.card__content {
		display: flex;
		flex-direction: column;
	}

	.card--image {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		img {
			aspect-ratio: 16 / 9;
			inline-size: min-content;
			margin-block: 0 1rem;
			object-fit: cover;
			border-radius: 0.5rem;
		}
		.card__actions {
			margin-top: auto;
		}
		p {
			display: none;
			margin-block-end: 20px;
		}
		@container grid-item (min-width: 500px) {
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-row: auto / span 4;
			gap: 1rem;
			img {
				grid-row: auto / span 3;
				aspect-ratio: auto;
				height: 100%;
			}
			p {
				display: block;
			}
		}
	}
}
