@layer molecules.button {
	.button {
		--button-foreground: var(--ds-color-neutral-000);
		--button-background: var(--ds-color-neutral-800);

        --button-padding-x: var(--spacing-3);
		--button-padding-y: var(--spacing-2);
        --buttton-font-size: 1rem;
		--button-underline-offset: 4px;

        --button-border-width: 1px;

		display: inline-flex;
		padding: var(--button-padding-y) var(--button-padding-x);
        font-size: var(--button-font-size);
		background-color: var(--button-background);
		color: var(--button-foreground);
        border: var(--button-border-width) solid var(--button-border-color);
		cursor: pointer;
	}

    .button--default {
        
    }

	.button--primary {
        --button-foreground: var(--ds-button-primary-foreground-color);
        --button-background: var(--ds-button-primary-background-color);
        --button-border-color: var(--ds-button-primary-border-color);

        border: none;
	}

    .button--secondary {
        --button-foreground: var(--ds-button-secondary-foreground-color);
        --button-background: var(--ds-button-secondary-background-color);
        --button-border-color: var(--ds-button-secondary-border-color);
    }

	.button--link {
		--button-padding-x: 0;
		--button-padding-y: 0;

        --button-foreground: var(--ds-button-link-foreground-color);
        --button-background: var(--ds-button-link-background-color);
        --button-border-color: var(--ds-button-link-border-color);
        --button-border-width: 0;

		text-decoration: underline;
		text-underline-offset: var(--button-underline-offset);
	}

    .button--block {
        justify-content: center;
        width: 100%;
    }
    
    .button--small {
        --button-font-size: .875rem;
    }
    
    .button--medium {
        --button-font-size: 1rem;
    }
    
    .button--large {
        --button-font-size: 1.125rem;
    }
    
    .button--clean {
        border: none;
        background: none;
        color: inherit;
        cursor: pointer;
    }
}
