@layer molecules.button {
	.button {
		--button-color: var(--color-neutral-000);
		--button-padding-x: var(--spacing-3);
		--button-padding-y: var(--spacing-2);
        --buttton-font-size: 1rem;
		--button-background: var(--color-neutral-800);
		--button-underline-offset: 4px;

		display: inline-flex;
		padding: var(--button-padding-y) var(--button-padding-x);
        font-size: var(--button-font-size);
		background-color: var(--button-background);
		color: var(--button-color);
		cursor: pointer;
	}

    .button--default {
        
    }

	.button--primary {
		border: none;
	}

	.button--link {
		--button-padding-x: 0;
		--button-padding-y: 0;
		--button-background: transparent;
		--button-color: var(--color-neutral-800);

		text-decoration: underline;
		text-underline-offset: var(--button-underline-offset);
	}

    .button--block {
        justify-content: center;
        width: 100%;
    }
    
    .button--small {
        --button-font-size: .875rem;
    }
    
    .button--medium {
        --button-font-size: 1rem;
    }
    
    .button--large {
        --button-font-size: 1.125rem;
    }
    
    .button--clean {
        border: none;
        background: none;
        color: inherit;
        cursor: pointer;
    }
}
